.border-left {
	    border-top-right-radius: 0px !importent;
	    border-bottom-right-radius: 0px !importent;
}
.border-right{
		border-top-left-radius: 0px !importent;
	    border-bottom-left-radius: 0px !importent;
}